.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 1px 3px -2px black;
  padding: 20px 0px;
}
.navaLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navaLogo p {
  font-size: 38px;
  color: #171717;
  font-weight: 600;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #626262;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
}

.navMenu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 3px;
}
.navMenu hr {
  border: none;
  width: 80%;
  background-color: #ff4141;
  height: 3px;
  border-radius: 10px;
  margin: 0px auto;
}

.nav_Login_Cart {
  display: flex;
  gap: 45px;
  align-items: center;
}
.nav_Login_Cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  columns: #515151;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.nav_Login_Cart button:active {
  background-color: #f3f3f3;
}

.nav_cart_count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 10px;
  background-color: red;
  font-size: 14px;
  color: white;
}
